.content-wrapper {
    min-height: 568px;
    width: 100%;
    height: 100vh;
    background-color: #FFE102;
    background: radial-gradient(#FFE102, #FFFB53);
    }

.content-table {
    display: table;
    width: 745px;
    margin: auto;
    height: 100%;
    padding-top: 85px;
}

.preview {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 50%;
    display: inline-block;
    margin-left: -20px;
}


.phone {
  position: relative;
}

.iphone {
  position: absolute;
  height: 640px;
  animation-name: iphone-anim;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  margin-left: -180px;
}

@keyframes iphone-anim {
  from{ transfrom: translateX(0px)}
  to{ transform: translateX(50px)}

}


.carousel {
  top: 72px;
  left: 210px;
  width: 271px;
  animation-name: iphone-anim;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  margin-left: -180px;
}


.item {
  position: relative;

}



.download {
  display: table-cell;
  // width: 50%;
  display: inline-block;
  justify-content: center;
  margin-left: 50px;
  height: 480px;
  vertical-align: middle;
}

.logo {
  margin-left: 39%;
  width: 130px;
  display: block;
  animation-name: logo-anim;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  margin-top: 0px;
}

@keyframes logo-anim {
  from{ transfrom: translateY(0px)}
  to{ transform: translateY(50px)}
}

.logo1 {
  width: 220px;
  margin-top: 40px;
  margin-left: 76px;
  display: block;
  animation-name: logo-anim;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  margin-bottom: 40px;
}


.carousel-caption {
  left: 41%;
  top: 40%;
}



.circle {
  width: 50px;
  height:50px;
  border-radius:100%;
  position:absolute;

}

.circle .border-animation {
  display:block;
  width:100%;
  height:100%;
  position:absolute;
  border-radius:100%;
}

.ba2 {
  animation: rounder1 4s linear 2s infinite alternate;
  border: 1.3px dashed #47B7E9;
}


.ba1{
  animation: rounder1 4s linear 2s infinite alternate;
  background: #ffffff;
  opacity: 0.5;


}
@keyframes rounder1 {
  from {transform:scale(1);}
  to {transform:scale(3);}
}


.btn {
    margin: auto;
    border-radius: 50px;
    background-color: hsla(0,0%,100%,.3);
    text-align: left;
    margin-bottom: 20px;
    overflow: hidden;
    display: block;
    animation-name: logo-anim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    font-style: normal;
    color: white;
    width: 200px;
    font-size: 20px;
    margin-left: 84px;
    padding: 14px 20px;
}

.btn:hover {
  color: white;
  background-color: hsla(0,0%,100%,.2);
  box-shadow: none;
}


.icon {
  width: 24px;
  margin: 0 15px 0 20px;
}

.carousel-indicators li {
    display: list-item;
    width: 13px;
    height: 13px;
    margin: 15px;
    text-indent: -999px;
    border: 2px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: transparent;
    margin-bottom: 30px;
}

.carousel-indicators {
    position: absolute;
    bottom: 30%;
    left: 10%;
    z-index: 15;
    width: 60%;
    list-style: none;
    text-align: center;

}

.carousel-indicators .active {
    display: list-item;
    width: 13px;
    height: 13px;
    margin: 15px;
    text-indent: -999px;
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    background-color: #000 \9;
    margin-bottom: 30px;

}


