<footer class="footer">

  <ul class="terms">

    <li class="footer-social">
      <a class="icons-sm fb-ic" href="facebook.com" ><i class="fa fa-facebook fa-lg white-text mr-md-4"></i></a>
    </li>

    <li class="footer-social">
      <a class="icons-sm ins-ic"><i class="fa fa-instagram fa-lg white-text mr-md-4"> </i></a>
    </li>

  </ul>



</footer>

