/* Main class */
.navbar {
  background: #FFFFFF;
  // height: 120px;
  position: relative;
}

/* Navbar logo */
.navbar-logo img {
  width: 55px;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  display: block;
  margin-top: 16px;
}








